<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" opened mode="side">
    <div class="head-main">
      User Experience
    </div>
    <mat-divider style="margin-top:10px;margin-bottom: 10px;"></mat-divider>
    <button mat-button class="menu-button mb-2"  *ngFor="let i of data;"  [routerLink]="i.link" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:
      true}">
        <mat-icon>{{i.icon}}</mat-icon>
        <span>{{i.name}}</span>
    </button>
</mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div class="p-2 mx-2">
        <app-country-list></app-country-list>
      </div>
      <hr color="#fff">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
